

p{
	color: red;
}
.circle {width: 150px;
	     height: 150px;
	     background-color: purple;
         border-radius: 100%;

}.rectangle{width: 150px; 
	        height: 150px;
	        background-color: red;
}

.triangle {width:0;
	        height:0;
            border-left:100px solid transparent;
            border-right:100px  solid transparent;
            border-bottom:150px solid #000; 
}
.half_triangle {
      width: 0;
      height: 0;
      border-bottom: 150px solid blue;
      border-right: 150px solid transparent;
    }
.half_circle{
	    position:relative; 
        height: 100px; 
        width: 175px; 
        border-radius: 250px 250px 0 0; 
        background-color: green; 
    } 

.star{
	width:0; 
    height:0;
    border-left:100px solid transparent;
	border-right:100px solid transparent;
	border-bottom:70px solid red;
	transform:rotateZ(35deg);
}
.star:before{
	position: absolute;
	display: block;
	content: "";
	width:0; 
    height:0;
    top:-45px;
    left:-65px;
    border-left:30px solid transparent;
	border-right:30px solid transparent;
	border-bottom:80px solid red;
	transform:rotateZ(-35deg);

}
.star:after{
	position: absolute;
	display: block;
	content: "";
	width:0; 
    height:0;
    top:3px;
    left:-105px;
    border-left:100px solid transparent;
	border-right:100px solid transparent;
	border-bottom:70px solid red;
	transform:rotateZ(-70deg);


}